
form .form-wrapper{
    width: 100% !important;
}
.easy-autocomplete{
    width:100% !important
  }
  .template-links{
    width: 100% !important;
  }
  .easy-autocomplete input{
    width: 100% !important;
  }
  
